src/docbuild/config/xml/data/portal-config.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  RELAX NG Schema for portal product configuration
  
  See also https://confluence.suse.com/x/0QB5e
  
-->
<grammar ns="" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:db="http://docbook.org/ns/docbook" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- BASICS -->
  <start>
    <db:refname>start</db:refname>
    <db:refpurpose>The start elements of the schema</db:refpurpose>
    <choice>
      <ref name="ds.portal"/>
      <ref name="ds.product"/>
      <ref name="ds.docset"/>
      <ref name="ds.categories"/>
      <ref name="ds.category.default"/>
      <ref name="ds.category.translation"/>
      <ref name="ds.descriptions"/>
    </choice>
  </start>
  <!-- XIncludes -->
  <div>
    <db:refname>xi:include</db:refname>
    <db:refpurpose>An XInclude element pointing to an external XML or text resource</db:refpurpose>
    <define name="xi.any.other.attribute">
      <attribute>
        <anyName>
          <except>
            <nsName/>
          </except>
        </anyName>
      </attribute>
    </define>
    <define name="xi.href.attr">
      <attribute name="href">
        <a:documentation>Target URL for the link (if the URL has no protocol prefix, the link is assumed to be local to the current host and a `/` will be added automatically)</a:documentation>
        <db:refpurpose>Target URL for the link (if the URL has no protocol prefix, the link is assumed to be local to the current host and a / will be added automatically)</db:refpurpose>
        <data type="anyURI">
          <param name="pattern">[^#]+</param>
        </data>
      </attribute>
    </define>
    <define name="xi.parse.attr">
      <optional>
        <attribute name="parse" a:defaultValue="xml">
          <a:documentation>How to parse the included resource (default: xml)</a:documentation>
          <db:refpurpose>How to parse the included resource (default: xml)</db:refpurpose>
          <choice>
            <value>xml</value>
            <value>text</value>
          </choice>
        </attribute>
      </optional>
    </define>
    <define name="xi.set-xml-id.attr">
      <optional>
        <attribute name="set-xml-id">
          <a:documentation>Set the XML ID of the included content to the value of this attribute (optional)</a:documentation>
          <db:refpurpose>Set the XML ID of the included content to the value of this attribute (optional)</db:refpurpose>
        </attribute>
      </optional>
    </define>
    <define name="xi.encoding.attr">
      <optional>
        <attribute name="encoding">
          <a:documentation>The encoding of the included resource (optional)</a:documentation>
          <db:refpurpose>The encoding of the included resource (optional)</db:refpurpose>
        </attribute>
      </optional>
    </define>
    <define name="xi.accept.attr">
      <optional>
        <attribute name="accept">
          <a:documentation>The media type(s) that the included resource must match (optional)</a:documentation>
          <db:refpurpose>The media type(s) that the included resource must match (optional)</db:refpurpose>
        </attribute>
      </optional>
    </define>
    <define name="xi.language.attr">
      <optional>
        <attribute name="accept-language">
          <a:documentation>The language(s) that the included resource must match (optional)</a:documentation>
          <db:refpurpose>The language(s) that the included resource must match (optional)</db:refpurpose>
        </attribute>
      </optional>
    </define>
    <define name="xi.include.attlist">
      <optional>
        <ref name="xi.href.attr"/>
      </optional>
      <optional>
        <ref name="xi.parse.attr"/>
      </optional>
      <optional>
        <!--
          attribute xpointer { text }?,
          attribute fragid { text }?,
          xi.language.attr?,
          xi.accept.attr?,
        -->
        <ref name="xi.set-xml-id.attr"/>
      </optional>
      <optional>
        <ref name="xi.encoding.attr"/>
      </optional>
      <zeroOrMore>
        <ref name="xi.any.other.attribute"/>
      </zeroOrMore>
    </define>
    <define name="xi.include">
      <element name="xi:include">
        <group>
          <ref name="xi.include.attlist"/>
          <empty/>
        </group>
        <!--
          We don't use fallbacks at the moment.
          xi.fallback?
        -->
      </element>
    </define>
  </div>
  <!-- CONSTANTS -->
  <!--
    Whenever there is a backward-incompatible schema revision, bump this
    version to the version of the software itself that this schema is shipped
    with. If the schema remains backward-compatible and there are only minor
    changes, leave the version as is.
  -->
  <define name="ds.schema.version">
    <value>7.0</value>
    <a:documentation>Schema version</a:documentation>
    <db:refpurpose>Schema version</db:refpurpose>
  </define>
  <!-- TYPES -->
  <div>
    <db:refpurpose>Custom data types used in the schema</db:refpurpose>
    <define name="ds.type.class">
      <data type="token">
        <a:documentation>A space-separated list of HTML classes</a:documentation>
        <db:refpurpose>A space-separated list of HTML classes</db:refpurpose>
        <param name="pattern">[\-_\+\.a-zA-Z0-9]+( [\-_\+\.a-zA-Z0-9]+)*</param>
      </data>
    </define>
    <define name="ds.type.email">
      <!--
        http://www.dpawson.co.uk/relaxng/schema/datatypes/datatypes.html#d1034e184
        Works for both normal addresses and forms like
        "David Tolpin"@[Obscure Place]
        The expression above is slightly more allowing than required,
        but should be appropriate for the majority of cases.
      -->
      <data type="token">
        <a:documentation>An email address</a:documentation>
        <db:refpurpose>An email address</db:refpurpose>
        <param name="pattern">([a-zA-Z0-9!#$%&amp;'*+\-/=?\^_`{|}~]+(\.[a-zA-Z0-9!#$%&amp;'*+\-/=?\^_`{|}~]+)*|"[^"\\]*")@([a-zA-Z0-9!#$%&amp;'*+\-/=?\^_`{|}~]+(\.[a-zA-Z0-9!#$%&amp;'*+\-/=?\^_`{|}~]+)*|\[[^\[\]\\]*\])</param>
      </data>
    </define>
    <define name="ds.type.lang">
      <data type="language">
        <a:documentation>A language code</a:documentation>
        <db:refpurpose>A language code (la-ng style)</db:refpurpose>
        <param name="pattern">[a-z]{2}(-[a-z]{2,8})?</param>
      </data>
    </define>
    <define name="ds.type.gitremote">
      <!-- (Let's not support SSH URLs for the moment since that needs authentication) -->
      <data type="anyURI">
        <a:documentation>URL to a Git remote ("http[s]" URLs only)</a:documentation>
        <db:refpurpose>URL to a Git remote (https URLs only)</db:refpurpose>
        <param name="pattern">https?://.*</param>
      </data>
    </define>
    <define name="ds.type.dirname">
      <data type="anyURI">
        <a:documentation>A relative directory name</a:documentation>
        <db:refpurpose>A relative directory name</db:refpurpose>
        <param name="pattern">[^/\\]*[^/\\:](/[^/\\]+)*</param>
      </data>
    </define>
    <define name="ds.type.branch">
      <data type="token">
        <a:documentation>A Git branch name</a:documentation>
        <db:refpurpose>A Git branch name</db:refpurpose>
        <param name="pattern">[^\s\\]+</param>
      </data>
    </define>
    <define name="ds.type.dcfile">
      <data type="string">
        <a:documentation>A DC file name</a:documentation>
        <db:refpurpose>A DC file name</db:refpurpose>
        <param name="pattern">DC-[\-_\.\+a-zA-Z0-9]+</param>
      </data>
    </define>
    <define name="ds.type.alphanumeric">
      <data type="token">
        <a:documentation>An alphanumeric value + "-" + "_"</a:documentation>
        <db:refpurpose>An alphanumeric value with dash and underscore</db:refpurpose>
        <param name="pattern">[\-_a-zA-Z0-9]+</param>
      </data>
    </define>
    <define name="ds.type.id">
      <data type="token">
        <a:documentation>An unique ID (unlike xml:ids, this allows initial digits)</a:documentation>
        <db:refpurpose>An ID (unlike xml:ids, this allows initial digits)</db:refpurpose>
        <param name="pattern">[\-_\.\+a-zA-Z0-9]+</param>
      </data>
    </define>
    <define name="ds.type.idmulti">
      <data type="IDREFS">
        <a:documentation>A space-separated list of IDs</a:documentation>
        <db:refpurpose>A space-separated list of IDs</db:refpurpose>
      </data>
    </define>
    <!--
      A basic title template that allows strings like "title subtitle product/docset",
      in exactly that order, but everything except the title can be
      left away. product and docset will in many cases just be the same, and thus
      are set up to exclude each other.
      There is no guarantee that the title string will be formatted
      exactly this way or in this order, just that, if available, all of the
      information requested will come out.
    -->
    <define name="ds.type.titleformat.build">
      <choice>
        <value>title</value>
        <a:documentation>Elements of titles displayed on navigational pages for documents built within the portal</a:documentation>
        <value>title docset</value>
        <value>title product</value>
        <value>title subtitle</value>
        <value>title subtitle product</value>
        <value>title subtitle docset</value>
      </choice>
    </define>
    <!--
      For external links, some metadata is never available: product name and
      subtitle cannot be generated in any way currently (but you're free to
      create whatever title you want and that should make up for it).
    -->
    <define name="ds.type.titleformat.link">
      <choice>
        <value>title</value>
        <a:documentation>Elements of titles displayed on navigational pages for externally-hosted documents</a:documentation>
        <value>title docset</value>
      </choice>
    </define>
  </div>
  <!-- TAG/ATTRIBUTE SETS -->
  <div>
    <!--
      FIXME: add img? (It is a bit unclear whether our script would need to take
      care of copying stuff then.)
    -->
    <define name="ds.htmlblock">
      <choice>
        <ref name="ds.p">
          <a:documentation>HTML block elements</a:documentation>
        </ref>
        <ref name="ds.div"/>
        <ref name="ds.pre"/>
        <ref name="ds.ul"/>
        <ref name="ds.ol"/>
        <ref name="ds.dl"/>
        <ref name="ds.h1"/>
        <ref name="ds.h2"/>
        <ref name="ds.h3"/>
        <ref name="ds.h4"/>
        <ref name="ds.h5"/>
        <ref name="ds.h6"/>
      </choice>
    </define>
  </div>
  <div>
    <define name="ds.htmlinline">
      <choice>
        <ref name="ds.a">
          <a:documentation>HTML inline elements</a:documentation>
        </ref>
        <ref name="ds.br"/>
        <ref name="ds.cite"/>
        <ref name="ds.code"/>
        <ref name="ds.em"/>
        <ref name="ds.hr"/>
        <ref name="ds.q"/>
        <ref name="ds.s"/>
        <ref name="ds.span"/>
        <ref name="ds.strong"/>
        <ref name="ds.sub"/>
        <ref name="ds.sup"/>
        <ref name="ds.u"/>
      </choice>
    </define>
  </div>
  <div>
    <define name="ds.htmlattr">
      <optional>
        <ref name="ds.id.attr"/>
      </optional>
      <optional>
        <ref name="ds.class.attr"/>
      </optional>
    </define>
  </div>
  <div>
    <define name="ds.htmlinlinecontent">
      <ref name="ds.htmlattr"/>
      <zeroOrMore>
        <choice>
          <ref name="ds.htmlinline"/>
          <text/>
        </choice>
      </zeroOrMore>
    </define>
  </div>
  <!--
    
    Common attributes
    
  -->
  <define name="ds.xmlbase.attr">
    <attribute name="xml:base">
      <a:documentation>Specifies the base URI of the element and its descendants</a:documentation>
      <db:refpurpose>Specifies the base URI of the element and its descendants</db:refpurpose>
      <data type="anyURI"/>
    </attribute>
  </define>
  <define name="ds.id.attr">
    <attribute name="id">
      <a:documentation>ID attribute for identifying an object</a:documentation>
      <db:refpurpose>ID attribute for identifying an object</db:refpurpose>
      <data type="ID"/>
    </attribute>
  </define>
  <define name="ds.linkend.attr">
    <attribute name="linkend">
      <a:documentation>A reference to an ID attribute</a:documentation>
      <db:refpurpose>A reference to an ID attribute</db:refpurpose>
      <data type="IDREF"/>
    </attribute>
  </define>
  <define name="ds.path.attr">
    <attribute name="path">
      <a:documentation>Relative path to a file or directory, with no leading or trailing slash</a:documentation>
      <db:refpurpose>Relative path to a file or directory, with no leading or trailing slash</db:refpurpose>
      <ref name="ds.type.dirname"/>
    </attribute>
  </define>
  <define name="ds.class.attr">
    <attribute name="class">
      <a:documentation>Class attribute (HTML)</a:documentation>
      <db:refpurpose>Class attribute (HTML)</db:refpurpose>
      <ref name="ds.type.class"/>
    </attribute>
  </define>
  <define name="ds.gated.attr">
    <attribute name="gated" a:defaultValue="false">
      <a:documentation>Is the content behind a paywall? (default "false")</a:documentation>
      <db:refpurpose>Is the content behind a paywall?</db:refpurpose>
      <data type="boolean"/>
    </attribute>
  </define>
  <define name="ds.lang.attr">
    <attribute name="lang">
      <a:documentation>Language code (`la-ng` style) of this description</a:documentation>
      <db:refpurpose>Language code (la-ng style) of this description</db:refpurpose>
      <ref name="ds.type.lang"/>
    </attribute>
  </define>
  <define name="ds.lang.en-us.attr">
    <attribute name="lang">
      <a:documentation>Language code strictly locked to US English</a:documentation>
      <db:refpurpose>Language code strictly locked to US English</db:refpurpose>
      <value>en-us</value>
    </attribute>
  </define>
  <define name="ds.title.attr">
    <attribute name="title">
      <a:documentation>Localized title of description</a:documentation>
      <db:refpurpose>Localized title of description</db:refpurpose>
    </attribute>
  </define>
  <define name="ds.titleformat.attr">
    <attribute name="titleformat">
      <a:documentation>How to display the document title on the product version navigational page, a combination of the following values:
* `title`: title as extracted from the document
* `subtitle`: subtitle as extracted from the document (can be empty)
* `docset`: product and version number as classified in the portal product configuration
* `product`: product and version number as extracted from the document (can be empty)
Note the following:
* `title` is mandatory
* `docset` and `product` are mutually exclusive.
* the order of values must be `title`, `subtitle`, `docset`/`product`
Default: `title subtitle`</a:documentation>
      <db:refpurpose>How to display the document title on the product version navigational page, a combination of the following values: title, subtitle, docset, product. Note the following: title is mandatory, docset and product are mutually exclusive, and the order of values must be title, subtitle, docset/product. Default: title subtitle</db:refpurpose>
      <ref name="ds.type.titleformat.build"/>
    </attribute>
  </define>
  <define name="ds.category.attr">
    <attribute name="category">
      <a:documentation>What category or categories to display this document under on the product version navigational page</a:documentation>
      <db:refpurpose>What category or categories to display this document under on the product version navigational page</db:refpurpose>
      <ref name="ds.type.idmulti"/>
    </attribute>
  </define>
  <define name="ds.includes-productname.attr">
    <attribute name="includes-productname" a:defaultValue="false">
      <a:documentation>* &lt;version/&gt; is a normal version (number) that is normally combined with a
  product name and shown in all situations. When @includes-productname=true is
  set for &lt;version/&gt;, we will always only display the &lt;version/&gt; text rather
  than displaying the product name alongside it.
* &lt;listingversion/&gt; is also a version (number), also normally combined with a
  product name. However, it is only ever shown on the home page's selection
  boxes, but not used within internal references or for product pages.</a:documentation>
      <db:refpurpose>Whether the version number name includes the product name (default: false)</db:refpurpose>
      <data type="boolean"/>
    </attribute>
  </define>
  <define name="ds.remarks.attr">
    <attribute name="remarks">
      <a:documentation>Enable DocBook remarks in this document (`daps ... --remarks`;
the default value varies depending on the site configuration)</a:documentation>
      <db:refpurpose>Enable DocBook remarks in this document (daps ... --remarks; the default value varies depending on the site configuration)</db:refpurpose>
      <data type="boolean"/>
    </attribute>
  </define>
  <define name="ds.draft.attr">
    <attribute name="draft">
      <a:documentation>Enable DocBook draft watermark in this document (`daps ... --draft`;
the default value varies depending on the site configuration and product lifecycle)</a:documentation>
      <db:refpurpose>Enable DocBook draft watermark in this document (daps ... --draft; the default value varies depending on the site configuration and product lifecycle)</db:refpurpose>
      <data type="boolean"/>
    </attribute>
  </define>
  <define name="ds.meta.attr">
    <attribute>
      <a:documentation>Enable DocBook meta information in this document (`daps ... --meta`;
the default value varies depending on the site configuration)</a:documentation>
      <db:refpurpose>Enable DocBook meta information in this document (daps ... --meta; the default value varies depending on the site configuration)</db:refpurpose>
      <!-- TODO: Is this still needed? -->
      <name>meta</name>
      <data type="boolean"/>
    </attribute>
  </define>
  <define name="ds.href.attr">
    <attribute name="href">
      <a:documentation>Target URL for the link (if the URL has no protocol prefix, the link is assumed
to be local to the current host and a `/` will be added automatically)</a:documentation>
      <db:refpurpose>Target URL for the link</db:refpurpose>
      <data type="anyURI"/>
    </attribute>
  </define>
  <define name="ds.sitemap.attr">
    <attribute name="sitemap" a:defaultValue="true">
      <a:documentation>Should this entry be included in the sitemap? (default "true")</a:documentation>
      <db:refpurpose>Should this entry be included in the sitemap? Default is to include it.</db:refpurpose>
      <data type="boolean"/>
    </attribute>
  </define>
  <!-- - - - ROOT - - - -->
  <div>
    <db:refname>portal</db:refname>
    <db:refpurpose>The root element of all portal configuration</db:refpurpose>
    <define name="ds.portal">
      <element name="portal">
        <a:documentation>The root element of all portal configuration</a:documentation>
        <ref name="ds.schemaversion.attr"/>
        <optional>
          <ref name="ds.spotlight"/>
        </optional>
        <ref name="ds.categories"/>
        <ref name="ds.productfamilies"/>
        <ref name="db.series"/>
        <interleave>
          <oneOrMore>
            <ref name="ds.product"/>
          </oneOrMore>
          <zeroOrMore>
            <ref name="xi.include"/>
          </zeroOrMore>
        </interleave>
      </element>
    </define>
  </div>
  <div>
    <db:refname>spotlight</db:refname>
    <db:refpurpose>Highlights a specific product, docset, or deliverable on the entry page.</db:refpurpose>
    <define name="ds.spotlight">
      <element name="spotlight">
        <a:documentation>Highlights a specific product, docset, or deliverable on the entry page.</a:documentation>
        <ref name="ds.linkend.attr"/>
        <choice>
          <text/>
          <empty/>
        </choice>
      </element>
    </define>
  </div>
  <div>
    <db:refname>productfamilies</db:refname>
    <db:refpurpose>Product families definition</db:refpurpose>
    <define name="ds.productfamilies">
      <element name="productfamilies">
        <a:documentation>Product families definition</a:documentation>
        <optional>
          <ref name="ds.xmlbase.attr"/>
        </optional>
        <oneOrMore>
          <ref name="db.item"/>
        </oneOrMore>
      </element>
    </define>
  </div>
  <div>
    <db:refname>series</db:refname>
    <db:refpurpose>Series definition</db:refpurpose>
    <define name="db.series">
      <element name="series">
        <a:documentation>Series definition</a:documentation>
        <optional>
          <ref name="ds.xmlbase.attr"/>
        </optional>
        <oneOrMore>
          <ref name="db.item"/>
        </oneOrMore>
      </element>
    </define>
  </div>
  <div>
    <db:refname>item</db:refname>
    <db:refpurpose>An item of a product family or a series</db:refpurpose>
    <define name="db.item">
      <element name="item">
        <a:documentation>An item of a product family or a series</a:documentation>
        <!-- ds.xmlbase.attr?, -->
        <ref name="ds.id.attr"/>
        <text/>
      </element>
    </define>
  </div>
  <div>
    <db:refname>product</db:refname>
    <db:refpurpose>Product definition</db:refpurpose>
    <define name="ds.schemaversion.attr">
      <attribute>
        <a:documentation>Version of the schema, verifies that portal schema major version and version of product configuration match</a:documentation>
        <db:refpurpose>Version of the schema, verifies that portal schema major version and version of product configuration match</db:refpurpose>
        <!-- TODO: Simplify to version? -->
        <name>schemaversion</name>
        <ref name="ds.schema.version"/>
      </attribute>
    </define>
    <define name="ds.enabled.attr">
      <attribute name="enabled" a:defaultValue="true">
        <a:documentation>Whether to enable this configuration file (`true` by default)</a:documentation>
        <db:refpurpose>Whether to enable this configuration file (true by default)</db:refpurpose>
        <data type="boolean"/>
      </attribute>
    </define>
    <define name="ds.site-section.attr">
      <optional>
        <attribute>
          <a:documentation>Site section this configuration belongs to</a:documentation>
          <db:refpurpose>Site section this configuration belongs to</db:refpurpose>
          <!--
            TODO: Do we still need this attribute?
            TODO: Is it similar to a (product) family now?
          -->
          <name>site-section</name>
          <ref name="ds.type.alphanumeric"/>
        </attribute>
      </optional>
    </define>
    <define name="ds.series.attr">
      <attribute name="series">
        <a:documentation>Where a product belongs to which tab (SBP, TRD, Products &amp; Solution)</a:documentation>
        <db:refpurpose>Where a product belongs to which tab (SBP, TRD, Products &amp; Solution)</db:refpurpose>
        <data type="IDREF"/>
      </attribute>
    </define>
    <!-- ds.type.alphanumeric TODO: IDREF? -->
    <define name="ds.family.attr">
      <attribute name="family">
        <a:documentation>Product family this product belongs to</a:documentation>
        <db:refpurpose>Product family this product belongs to</db:refpurpose>
        <data type="IDREF"/>
      </attribute>
    </define>
    <define name="ds.rank.attr">
      <attribute name="rank">
        <a:documentation>Rank of this product in the homepage listing (lower ranks are listed first; products with the same rank are sorted alphabetically by product name)</a:documentation>
        <db:refpurpose>Rank of this product in the homepage listing (lower ranks are listed first; products with the same rank are sorted alphabetically by product name)</db:refpurpose>
        <data type="nonNegativeInteger"/>
      </attribute>
    </define>
    <define name="ds.docset-sort.attr">
      <optional>
        <attribute name="docset-sort" a:defaultValue="descending">
          <a:documentation>Whether to sort docsets of this product Z-A9-0 (`descending`, default) or 0-9A-Z (`ascending`)</a:documentation>
          <db:refpurpose>Whether to sort docsets of this product</db:refpurpose>
          <choice>
            <value>ascending</value>
            <a:documentation>Sort 0-9A-Z</a:documentation>
            <value>descending</value>
            <a:documentation>Sort Z-A9-0</a:documentation>
          </choice>
        </attribute>
      </optional>
    </define>
    <define name="ds.product">
      <element name="product">
        <a:documentation>Product (or top-level category, root element)</a:documentation>
        <interleave>
          <ref name="ds.id.attr"/>
          <optional>
            <ref name="ds.xmlbase.attr"/>
          </optional>
          <optional>
            <ref name="ds.path.attr"/>
          </optional>
          <optional>
            <ref name="ds.schemaversion.attr"/>
          </optional>
          <optional>
            <ref name="ds.enabled.attr"/>
          </optional>
          <optional>
            <ref name="ds.site-section.attr"/>
          </optional>
          <!-- TODO: Do we still need this attribute? -->
          <ref name="ds.series.attr"/>
          <ref name="ds.family.attr"/>
          <optional>
            <ref name="ds.rank.attr"/>
          </optional>
          <optional>
            <ref name="ds.docset-sort.attr"/>
          </optional>
          <optional>
            <ref name="ds.gated.attr"/>
          </optional>
          <optional>
            <ref name="ds.sitemap.attr"/>
          </optional>
        </interleave>
        <ref name="ds.name"/>
        <optional>
          <ref name="ds.sortname"/>
        </optional>
        <optional>
          <ref name="ds.acronym"/>
        </optional>
        <ref name="ds.maintainers"/>
        <optional>
          <!-- TODO: Adjust the content model? -->
          <choice>
            <ref name="ds.categories"/>
            <ref name="xi.include"/>
          </choice>
        </optional>
        <optional>
          <choice>
            <ref name="ds.descriptions"/>
            <ref name="xi.include"/>
          </choice>
        </optional>
        <oneOrMore>
          <choice>
            <ref name="ds.docset"/>
            <ref name="xi.include"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
  </div>
  <!-- PRODUCT DESCRIPTION -->
  <div>
    <db:refname>name</db:refname>
    <db:refpurpose>Name of product or top-level category</db:refpurpose>
    <define name="ds.name">
      <element name="name">
        <a:documentation>Name of product or top-level category</a:documentation>
        <text/>
      </element>
    </define>
  </div>
  <div>
    <db:refname>sortname</db:refname>
    <db:refpurpose>Sort name of product or top-level category</db:refpurpose>
    <define name="ds.sortname">
      <element name="sortname">
        <a:documentation>Sort name of product or top-level category</a:documentation>
        <text/>
      </element>
    </define>
  </div>
  <div>
    <db:refname>acronym</db:refname>
    <db:refpurpose>Acronym of name of product or top-level category</db:refpurpose>
    <define name="ds.acronym">
      <element name="acronym">
        <a:documentation>Acronym of name of product or top-level category</a:documentation>
        <text/>
      </element>
    </define>
  </div>
  <div>
    <db:refname>maintainers</db:refname>
    <db:refpurpose>Collection of email addresses to send mail about build failures to</db:refpurpose>
    <define name="ds.maintainers">
      <element name="maintainers">
        <a:documentation>Collection of email addresses to send mail about build failures to</a:documentation>
        <oneOrMore>
          <ref name="ds.contact"/>
        </oneOrMore>
      </element>
    </define>
  </div>
  <div>
    <db:refname>contact</db:refname>
    <db:refpurpose>Email address to send mail about build failures to</db:refpurpose>
    <define name="ds.contact">
      <element name="contact">
        <a:documentation>Email address to send mail about build failures to</a:documentation>
        <ref name="ds.type.email"/>
      </element>
    </define>
  </div>
  <div>
    <db:refname>descriptions</db:refname>
    <db:refpurpose>Wrapper of desc element</db:refpurpose>
    <define name="ds.treatment.attr">
      <attribute name="treatment" a:defaultValue="append">
        <a:documentation>How to treat version-specific product descriptions</a:documentation>
        <db:refpurpose>How to treat version-specific product descriptions</db:refpurpose>
        <choice>
          <value>append</value>
          <a:documentation>Append this description to the original product description</a:documentation>
          <value>prepend</value>
          <a:documentation>Prepend this description to the original product description</a:documentation>
          <value>replace</value>
          <a:documentation>Replace the original product description with this description</a:documentation>
        </choice>
      </attribute>
    </define>
    <define name="ds.descriptions">
      <element name="descriptions">
        <a:documentation>Wrapper of desc element</a:documentation>
        <group>
          <optional>
            <ref name="ds.xmlbase.attr"/>
          </optional>
          <optional>
            <ref name="ds.treatment.attr"/>
          </optional>
        </group>
        <ref name="ds.desc_default"/>
        <zeroOrMore>
          <ref name="ds.desc_translation"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <div>
    <db:refname>desc</db:refname>
    <db:refpurpose>Description of product or top-level category</db:refpurpose>
    <define name="ds.desc_default">
      <element name="desc">
        <a:documentation>Description of product or top-level category (default language)</a:documentation>
        <group>
          <optional>
            <ref name="ds.xmlbase.attr"/>
          </optional>
          <ref name="ds.lang.en-us.attr"/>
        </group>
        <optional>
          <ref name="ds.title"/>
        </optional>
        <zeroOrMore>
          <ref name="ds.htmlblock"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <div>
    <db:refname>desc</db:refname>
    <db:refpurpose>Description of product or top-level category (dependent languages)</db:refpurpose>
    <define name="ds.desc_translation">
      <element name="desc">
        <a:documentation>Description of product or top-level category (dependent languages)</a:documentation>
        <group>
          <a:documentation>Language code (`la-ng` style) of this description</a:documentation>
          <optional>
            <ref name="ds.xmlbase.attr"/>
          </optional>
          <ref name="ds.lang.attr"/>
        </group>
        <optional>
          <ref name="ds.title"/>
        </optional>
        <zeroOrMore>
          <ref name="ds.htmlblock"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <define name="ds.title_text">
    <data type="string"/>
  </define>
  <!-- { pattern = "[^\n]{1,80}" } -->
  <div>
    <db:refname>shortdesc</db:refname>
    <db:refpurpose>A short description of the product</db:refpurpose>
    <define name="ds.title">
      <element name="title">
        <a:documentation>A short description of the product</a:documentation>
        <ref name="ds.title_text"/>
      </element>
    </define>
  </div>
  <div>
    <db:refname>subtitle</db:refname>
    <db:refpurpose>A short subtitle of the product</db:refpurpose>
    <define name="ds.subtitle">
      <element name="subtitle">
        <a:documentation>A short subtitle of the product</a:documentation>
        <text/>
      </element>
    </define>
  </div>
  <div>
    <db:refname>categories</db:refname>
    <db:refpurpose>Wrapper for all category elements</db:refpurpose>
    <define name="ds.categories">
      <element name="categories">
        <a:documentation>Wrapper for all category elements</a:documentation>
        <optional>
          <ref name="ds.xmlbase.attr"/>
        </optional>
        <choice>
          <group>
            <ref name="ds.category.default"/>
            <zeroOrMore>
              <ref name="ds.category.translation"/>
            </zeroOrMore>
          </group>
          <oneOrMore>
            <ref name="xi.include"/>
          </oneOrMore>
        </choice>
      </element>
    </define>
  </div>
  <div>
    <db:refname>category</db:refname>
    <db:refpurpose>Definition of category (default language)</db:refpurpose>
    <define name="ds.category.default">
      <element name="category">
        <a:documentation>Definition of category (default language)</a:documentation>
        <group>
          <ref name="ds.lang.en-us.attr"/>
          <optional>
            <ref name="ds.xmlbase.attr"/>
          </optional>
        </group>
        <oneOrMore>
          <ref name="ds.category_language_default"/>
        </oneOrMore>
      </element>
    </define>
  </div>
  <div>
    <db:refname>category</db:refname>
    <db:refpurpose>Definition of category (dependent languages)</db:refpurpose>
    <define name="ds.category.translation">
      <element name="category">
        <a:documentation>Definition of category (dependent languages)</a:documentation>
        <group>
          <optional>
            <ref name="ds.xmlbase.attr"/>
          </optional>
          <ref name="ds.lang.attr"/>
        </group>
        <oneOrMore>
          <ref name="ds.category_language_translation"/>
        </oneOrMore>
      </element>
    </define>
  </div>
  <div>
    <db:refname>language (default)</db:refname>
    <db:refpurpose>Metadata for category displayed on product detail navigational page</db:refpurpose>
    <define name="ds.category_language_default">
      <element name="language">
        <a:documentation>Metadata for category displayed on product detail navigational page</a:documentation>
        <group>
          <ref name="ds.id.attr"/>
          <ref name="ds.title.attr"/>
        </group>
        <zeroOrMore>
          <ref name="ds.htmlblock"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <div>
    <db:refname>language (translation)</db:refname>
    <db:refpurpose>Metadata for category displayed on product detail navigational page</db:refpurpose>
    <define name="ds.category_language_translation">
      <element name="language">
        <a:documentation>Metadata for category displayed on product detail navigational page</a:documentation>
        <group>
          <ref name="ds.linkend.attr"/>
          <ref name="ds.title.attr"/>
        </group>
        <zeroOrMore>
          <ref name="ds.htmlblock"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <!-- DOCSETS -->
  <div>
    <db:refname>docset</db:refname>
    <db:refpurpose>Product version definition</db:refpurpose>
    <define name="ds.lifecycle.attr">
      <attribute name="lifecycle" a:defaultValue="supported">
        <a:documentation>Lifecycle value of this product version</a:documentation>
        <db:refpurpose>Lifecycle value of this product version</db:refpurpose>
        <choice>
          <value>unpublished</value>
          <a:documentation>Product versions can only be built for instances defined as internal in the INI configuration</a:documentation>
          <value>beta</value>
          <a:documentation>Product versions can be built without restriction but contain a draft watermark</a:documentation>
          <value>supported</value>
          <a:documentation>Product versions can be built without restriction</a:documentation>
          <value>unsupported</value>
          <a:documentation>Product versions can be built without restriction but are only published as Zip archives</a:documentation>
        </choice>
      </attribute>
    </define>
    <define name="ds.navigation.attr">
      <attribute name="navigation" a:defaultValue="linked">
        <a:documentation>Whether to build a navigational page for this product version</a:documentation>
        <db:refpurpose>Whether to build a navigational page for this product version: linked for navigational pages linked from the homepage (default), hidden for navigational pages not linked from the homepage, disabled to disable creation of a navigational page</db:refpurpose>
        <choice>
          <value>linked</value>
          <a:documentation>For navigational pages linked from the homepage (default)</a:documentation>
          <value>hidden</value>
          <a:documentation>For navigational pages not linked from the homepage</a:documentation>
          <value>disabled</value>
          <a:documentation>To disable creation of a navigational page</a:documentation>
        </choice>
      </attribute>
    </define>
    <define name="ds.docset">
      <element name="docset">
        <a:documentation>Product version or second-level category</a:documentation>
        <interleave>
          <optional>
            <ref name="ds.xmlbase.attr"/>
          </optional>
          <optional>
            <ref name="ds.path.attr"/>
          </optional>
          <ref name="ds.id.attr"/>
          <ref name="ds.lifecycle.attr"/>
          <optional>
            <ref name="ds.navigation.attr"/>
          </optional>
          <optional>
            <ref name="ds.gated.attr"/>
          </optional>
        </interleave>
        <optional>
          <!--
            
            To allow for name changes between versions, as in the example of SUSE
            Cloud -> SUSE OpenStack Cloud: optional ds.name here
          -->
          <ref name="ds.name"/>
        </optional>
        <optional>
          <ref name="ds.sortname"/>
        </optional>
        <optional>
          <ref name="ds.acronym"/>
        </optional>
        <ref name="ds.version"/>
        <optional>
          <ref name="ds.canonical"/>
        </optional>
        <optional>
          <ref name="ds.listingversion"/>
        </optional>
        <optional>
          <ref name="ds.descriptions"/>
        </optional>
        <choice>
          <group>
            <ref name="ds.resources"/>
            <optional>
              <ref name="ds.internal"/>
            </optional>
            <optional>
              <ref name="ds.external"/>
            </optional>
          </group>
          <group>
            <ref name="ds.internal"/>
            <optional>
              <ref name="ds.external"/>
            </optional>
          </group>
          <ref name="ds.external"/>
        </choice>
      </element>
    </define>
  </div>
  <div>
    <db:refname>version</db:refname>
    <db:refpurpose>User-visible version number (or name of second-level category)</db:refpurpose>
    <!--
      * <version/> is a normal version (number) that is normally combined with a
        product name and shown in all situations. When @includes-productname=true is
        set for <version/>, we will always only display the <version/> text rather
        than displaying the product name alongside it.
      * <listingversion/> is also a version (number), also normally combined with a
        product name. However, it is only ever shown on the home page's selection
        boxes, but not used within internal references or for product pages.
      
      FIXME: version v/ listingversion v/ @includes-productname is a bit of a mess,
      clean up eventually when use cases are clearer
    -->
    <define name="ds.version">
      <element name="version">
        <a:documentation>User-visible version number (or name of second-level category)</a:documentation>
        <optional>
          <ref name="ds.includes-productname.attr">
            <a:documentation>Whether the version number name includes the product name (default: `false`)</a:documentation>
          </ref>
        </optional>
        <text/>
      </element>
    </define>
  </div>
  <div>
    <db:refname>canonical</db:refname>
    <db:refpurpose>For canonical links; from previous, obsolete SPs to the latest</db:refpurpose>
    <define name="ds.canonical">
      <element name="canonical">
        <a:documentation>For canonical links; from previous, obsolete SPs to the latest</a:documentation>
        <data type="anyURI"/>
      </element>
    </define>
  </div>
  <div>
    <db:refname>listingversion</db:refname>
    <db:refpurpose>Version number (or name of second-level category) displayed in homepage listing</db:refpurpose>
    <define name="ds.listingversion">
      <element name="listingversion">
        <a:documentation>User-visible version number (or name of second-level category) displayed in homepage listing</a:documentation>
        <optional>
          <ref name="ds.includes-productname.attr">
            <a:documentation>Whether the version number name includes the product name (default: `false`)</a:documentation>
          </ref>
        </optional>
        <text/>
      </element>
    </define>
  </div>
  <div>
    <db:refname>resources</db:refname>
    <db:refpurpose>Container for definitions of documents to build (formerly builddocs)</db:refpurpose>
    <define name="ds.resources">
      <element name="resources">
        <a:documentation>Container for definitions of documents to build</a:documentation>
        <ref name="ds.git"/>
        <ref name="ds.locale_default"/>
        <zeroOrMore>
          <ref name="ds.locale_translation"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <div>
    <db:refname>git</db:refname>
    <db:refpurpose>Definition of Git remote URL to use for documentation of a specific product version (or second-level category)</db:refpurpose>
    <define name="ds.git.remote.attr">
      <attribute name="remote">
        <a:documentation>Git remote URL</a:documentation>
        <ref name="ds.type.gitremote"/>
      </attribute>
    </define>
    <define name="ds.git">
      <element name="git">
        <a:documentation>Definition of Git remote URL to use for documentation of a specific product version (or second-level category)</a:documentation>
        <ref name="ds.git.remote.attr"/>
        <empty/>
      </element>
    </define>
  </div>
  <!--
    About @translation-type:
    * "list" creates a list of documents that will be built for the
      translation in question. This is advantageous in the common case that only
      a small subset of documents are translated into a particular language.
    * "full" means there is a full translation in this language for
      this docset
  -->
  <div>
    <db:refname>locale (en-us)</db:refname>
    <db:refpurpose>Set of deliverables to build for the default language</db:refpurpose>
    <define name="ds.locale_default">
      <element name="locale">
        <a:documentation>Set of deliverables to build for the default language</a:documentation>
        <group>
          <ref name="ds.lang.en-us.attr"/>
          <optional>
            <ref name="ds.sitemap.attr"/>
          </optional>
        </group>
        <!---->
        <ref name="ds.branch"/>
        <optional>
          <ref name="ds.subdir"/>
        </optional>
        <oneOrMore>
          <choice>
            <ref name="ds.deliverable_en_us_dc"/>
            <ref name="ds.deliverable_en_us_prebuilt"/>
          </choice>
        </oneOrMore>
      </element>
    </define>
  </div>
  <div>
    <db:refname>locale (translations)</db:refname>
    <db:refpurpose>Set of deliverables to build for the default language</db:refpurpose>
    <define name="ds.locale_translation">
      <element name="locale">
        <a:documentation>Set of documents to build (default language, must list full set of documents available for product version)</a:documentation>
        <group>
          <ref name="ds.lang.attr"/>
          <optional>
            <ref name="ds.sitemap.attr"/>
          </optional>
        </group>
        <!---->
        <ref name="ds.branch"/>
        <optional>
          <ref name="ds.subdir"/>
        </optional>
        <oneOrMore>
          <ref name="ds.deliverable_trans"/>
        </oneOrMore>
      </element>
    </define>
  </div>
  <div>
    <define name="ds.deliverable.trans.type.attr">
      <attribute name="type" a:defaultValue="ref">
        <value>ref</value>
      </attribute>
    </define>
    <define name="ds.deliverable_trans">
      <element name="deliverable">
        <a:documentation>A document to build for a translation, identified by the DC file of the default language deliverable</a:documentation>
        <group>
          <group>
            <optional>
              <ref name="ds.gated.attr"/>
            </optional>
            <ref name="ds.deliverable.trans.type.attr"/>
            <optional>
              <ref name="ds.sitemap.attr"/>
            </optional>
          </group>
          <!--
            
            TODO: Do we want only have references in translations?
            The <ref> content model allows also descriptions.
          -->
          <ref name="ds.ref"/>
        </group>
        <!-- | ds.deliverable.prebuilt -->
      </element>
    </define>
  </div>
  <div>
    <db:refname>branch</db:refname>
    <db:refpurpose>Branch of the source Git repository</db:refpurpose>
    <define name="ds.branch">
      <element name="branch">
        <a:documentation>Branch of the source Git repository</a:documentation>
        <ref name="ds.type.branch"/>
      </element>
    </define>
  </div>
  <div>
    <db:refname>subdir</db:refname>
    <db:refpurpose>Subdirectory within the source Git repository</db:refpurpose>
    <define name="ds.subdir">
      <element name="subdir">
        <a:documentation>Subdirectory within the source Git repository</a:documentation>
        <ref name="ds.type.dirname"/>
      </element>
    </define>
  </div>
  <div>
    <db:refname>partners</db:refname>
    <db:refpurpose>A list of partners (usually for TRDs)</db:refpurpose>
    <define name="ds.partners">
      <element name="partners">
        <a:documentation>A list of partners (usually for TRDs)</a:documentation>
        <oneOrMore>
          <element name="partner">
            <a:documentation>An individual partner</a:documentation>
            <text/>
          </element>
        </oneOrMore>
      </element>
    </define>
  </div>
  <div>
    <db:refname>deliverable (dc)</db:refname>
    <db:refpurpose>Definition of an individual document built by DAPS (default language)</db:refpurpose>
    <define name="ds.deliverable.dc.type.attr">
      <attribute name="type" a:defaultValue="dc">
        <value>dc</value>
      </attribute>
    </define>
    <define name="ds.deliverable_en_us_dc">
      <element name="deliverable">
        <a:documentation>An individual document built by DAPS (default language)</a:documentation>
        <group>
          <group>
            <optional>
              <ref name="ds.deliverable.dc.type.attr"/>
            </optional>
            <optional>
              <ref name="ds.remarks.attr"/>
            </optional>
            <optional>
              <ref name="ds.draft.attr"/>
            </optional>
            <optional>
              <!-- & ds.meta.attr?, -->
              <ref name="ds.category.attr"/>
            </optional>
            <optional>
              <ref name="ds.titleformat.attr"/>
            </optional>
            <optional>
              <ref name="ds.gated.attr"/>
            </optional>
            <ref name="ds.id.attr"/>
            <optional>
              <ref name="ds.sitemap.attr"/>
            </optional>
          </group>
          <!---->
          <ref name="ds.dc"/>
        </group>
        <!--
          ds.git?,
          ds.subdir?,
          ds.format,
          ds.partners*
        -->
      </element>
    </define>
  </div>
  <div>
    <db:refname>deliverable (prebuilt)</db:refname>
    <db:refpurpose>Definition of an individual prebuilt document (default language)</db:refpurpose>
    <define name="ds.deliverable.prebuilt.type.attr">
      <attribute name="type" a:defaultValue="prebuilt">
        <value>prebuilt</value>
      </attribute>
    </define>
    <define name="ds.deliverable_en_us_prebuilt">
      <element name="deliverable">
        <a:documentation/>
        <group>
          <optional>
            <ref name="ds.deliverable.prebuilt.type.attr"/>
          </optional>
          <optional>
            <ref name="ds.category.attr"/>
          </optional>
          <optional>
            <ref name="ds.titleformat.attr"/>
          </optional>
          <optional>
            <ref name="ds.gated.attr"/>
          </optional>
          <ref name="ds.id.attr"/>
          <optional>
            <ref name="ds.sitemap.attr"/>
          </optional>
        </group>
        <!---->
        <ref name="ds.deliverable.prebuilt"/>
      </element>
    </define>
  </div>
  <div>
    <db:refname>prebuilt</db:refname>
    <db:refpurpose>Pre-built content definition</db:refpurpose>
    <define name="ds.deliverable.prebuilt">
      <element name="prebuilt">
        <a:documentation>Pre-built content definition</a:documentation>
        <group>
          <ref name="ds.title"/>
          <optional>
            <ref name="ds.subtitle"/>
          </optional>
          <oneOrMore>
            <ref name="ds.url"/>
          </oneOrMore>
          <ref name="ds.descriptions"/>
        </group>
        <!-- ds.metadata  # TODO: We need to check what we need -->
      </element>
    </define>
  </div>
  <div>
    <db:refname>metadata</db:refname>
    <db:refpurpose/>
    <define name="ds.metadata">
      <element name="metadata">
        <a:documentation/>
        <text/>
        <!-- TODO -->
      </element>
    </define>
  </div>
  <div>
    <db:refname>dc</db:refname>
    <db:refpurpose>Wrapper to structure DC file reference</db:refpurpose>
    <define name="ds.dc.file.attr">
      <attribute name="file">
        <a:documentation>Points to a file starting with the "DC-" prefix</a:documentation>
        <ref name="ds.type.dcfile"/>
      </attribute>
    </define>
    <define name="ds.dc">
      <element name="dc">
        <a:documentation>Wrapper to structure DC file reference</a:documentation>
        <ref name="ds.dc.file.attr"/>
        <optional>
          <!---->
          <ref name="ds.git"/>
        </optional>
        <optional>
          <ref name="ds.subdir"/>
        </optional>
        <ref name="ds.format"/>
        <zeroOrMore>
          <ref name="ds.subdeliverable"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="ds.partners"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <div>
    <db:refname>format</db:refname>
    <db:refpurpose>Enabling/disabling document formats to build</db:refpurpose>
    <!--
      Unfortunately, this way, I can't force people to choose at least one format
      they actually want to build.
    -->
    <define name="ds.format">
      <element name="format">
        <a:documentation>Allows enabling/disabling document formats, at least one format must be enabled</a:documentation>
        <optional>
          <attribute name="html">
            <a:documentation>Whether to enable multi-page HTML builds</a:documentation>
            <data type="boolean"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="single-html">
            <a:documentation>Whether to enable single-page HTML builds</a:documentation>
            <data type="boolean"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="pdf">
            <a:documentation>Whether to enable PDF builds</a:documentation>
            <data type="boolean"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="epub">
            <a:documentation>Whether to enable EPUB builds</a:documentation>
            <data type="boolean"/>
          </attribute>
        </optional>
      </element>
    </define>
  </div>
  <div>
    <db:refname>subdeliverable</db:refname>
    <db:refpurpose>Individual document within a DocBook set as identified by their XML ID (default language)</db:refpurpose>
    <define name="ds.subdeliverable">
      <element name="subdeliverable">
        <a:documentation>Individual document within a DocBook set as identified by their XML ID (default language)</a:documentation>
        <group>
          <optional>
            <ref name="ds.category.attr"/>
          </optional>
          <optional>
            <ref name="ds.titleformat.attr"/>
          </optional>
        </group>
        <ref name="ds.type.id"/>
      </element>
    </define>
  </div>
  <div>
    <db:refname>internal</db:refname>
    <db:refpurpose>Wrapper for internal references</db:refpurpose>
    <define name="ds.internal">
      <element name="internal">
        <a:documentation>Wrapper for internal references</a:documentation>
        <oneOrMore>
          <ref name="ds.ref"/>
        </oneOrMore>
      </element>
    </define>
  </div>
  <div>
    <db:refname>ref</db:refname>
    <db:refpurpose>Reference to a document or navigational page</db:refpurpose>
    <define name="ds.ref">
      <element name="ref">
        <a:documentation>Internal reference</a:documentation>
        <group>
          <ref name="ds.linkend.attr"/>
          <optional>
            <ref name="ds.category.attr"/>
          </optional>
          <optional>
            <ref name="ds.titleformat.attr"/>
          </optional>
        </group>
        <optional>
          <ref name="ds.descriptions"/>
        </optional>
      </element>
    </define>
  </div>
  <div>
    <db:refname>external</db:refname>
    <db:refpurpose>Container for references to externally-hosted documents</db:refpurpose>
    <define name="ds.external">
      <element name="external">
        <a:documentation>Container for references to externally-hosted documents</a:documentation>
        <zeroOrMore>
          <ref name="ds.link"/>
        </zeroOrMore>
      </element>
    </define>
  </div>
  <div>
    <db:refname>link</db:refname>
    <db:refpurpose>Collection of URLs for a single externally-hosted document in different languages and formats</db:refpurpose>
    <define name="ds.link.titleformat">
      <optional>
        <attribute name="titleformat">
          <a:documentation>How to display the document title on the product version navigational page, a combination of the following values:
* `title`: title as extracted from the document
* `docset`: product and version number as classified in the portal product configuration
Note the following:
* `title` is mandatory
* the order of values must be `title`, `docset`
Default: `title`</a:documentation>
          <ref name="ds.type.titleformat.link"/>
        </attribute>
      </optional>
    </define>
    <define name="ds.link">
      <element name="link">
        <a:documentation>Collection of URLs for a single externally-hosted document in different languages and formats</a:documentation>
        <group>
          <optional>
            <ref name="ds.category.attr"/>
          </optional>
          <optional>
            <ref name="ds.link.titleformat"/>
          </optional>
          <optional>
            <ref name="ds.gated.attr"/>
          </optional>
        </group>
        <oneOrMore>
          <!---->
          <ref name="ds.url"/>
        </oneOrMore>
        <ref name="ds.descriptions"/>
      </element>
    </define>
  </div>
  <div>
    <db:refname>url</db:refname>
    <db:refpurpose>URL of externally-hosted document</db:refpurpose>
    <define name="ds.url">
      <element name="url">
        <a:documentation>URL of externally-hosted document</a:documentation>
        <optional>
          <ref name="ds.lang.attr"/>
        </optional>
        <ref name="ds.href.attr"/>
        <attribute name="format">
          <a:documentation>Target file format of the link for display in the UI</a:documentation>
          <choice>
            <value>html</value>
            <value>single-html</value>
            <value>pdf</value>
            <value>epub</value>
            <value>zip</value>
            <value>tar</value>
            <value>other</value>
          </choice>
        </attribute>
        <empty/>
      </element>
    </define>
  </div>
  <!-- SUPPORTED HTML SUBSET -->
  <define name="ds.p">
    <element name="p">
      <a:documentation>Paragraph (HTML, block)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.div">
    <element name="div">
      <a:documentation>Generic block element (HTML, block)</a:documentation>
      <ref name="ds.htmlattr"/>
      <zeroOrMore>
        <choice>
          <ref name="ds.htmlinline"/>
          <ref name="ds.htmlblock"/>
          <text/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="ds.pre">
    <element name="pre">
      <a:documentation>Preformatted text (HTML, block)</a:documentation>
      <ref name="ds.htmlattr"/>
      <zeroOrMore>
        <text/>
      </zeroOrMore>
    </element>
  </define>
  <define name="ds.ul">
    <element name="ul">
      <a:documentation>Unordered list (HTML, block)</a:documentation>
      <ref name="ds.htmlattr"/>
      <oneOrMore>
        <ref name="ds.li"/>
      </oneOrMore>
    </element>
  </define>
  <define name="ds.ol">
    <element name="ol">
      <a:documentation>Ordered (itemized) list (HTML, block)</a:documentation>
      <ref name="ds.htmlattr"/>
      <oneOrMore>
        <ref name="ds.li"/>
      </oneOrMore>
    </element>
  </define>
  <define name="ds.dl">
    <element name="dl">
      <a:documentation>Definition list (HTML, block)</a:documentation>
      <ref name="ds.htmlattr"/>
      <oneOrMore>
        <ref name="ds.dt"/>
        <ref name="ds.dd"/>
      </oneOrMore>
    </element>
  </define>
  <define name="ds.dt">
    <element name="dt">
      <a:documentation>Term in definition list (HTML, block)</a:documentation>
      <ref name="ds.htmlattr"/>
      <zeroOrMore>
        <ref name="ds.htmlblock"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="ds.dd">
    <element name="dd">
      <a:documentation>Definition in definition list (HTML, block)</a:documentation>
      <ref name="ds.htmlattr"/>
      <zeroOrMore>
        <ref name="ds.htmlblock"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="ds.li">
    <element name="li">
      <a:documentation>List item in unordered or ordered list (HTML, block)</a:documentation>
      <ref name="ds.htmlattr"/>
      <zeroOrMore>
        <ref name="ds.htmlblock"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="ds.h1">
    <element name="h1">
      <a:documentation>Heading of level 1 (HTML, block)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.h2">
    <element name="h2">
      <a:documentation>Heading of level 2 (HTML, block)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.h3">
    <element name="h3">
      <a:documentation>Heading of level 3 (HTML, block)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.h4">
    <element name="h4">
      <a:documentation>Heading of level 4 (HTML, block)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.h5">
    <element name="h5">
      <a:documentation>Heading of level 5 (HTML, block)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.h6">
    <element name="h6">
      <a:documentation>Heading of level 6 (HTML, block)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.sup">
    <element name="sup">
      <a:documentation>Superscript text (HTML, inline)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.sub">
    <element name="sub">
      <a:documentation>Subscript text (HTML, inline)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.s">
    <element name="s">
      <a:documentation>Struck text (HTML, inline)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.u">
    <element name="u">
      <a:documentation>Underlined text (HTML, inline)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.q">
    <element name="q">
      <a:documentation>Short quote (HTML, inline)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.em">
    <element name="em">
      <a:documentation>Emphasized text, displayed in italics (HTML, inline)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.a">
    <element name="a">
      <a:documentation>Web link (HTML, inline)</a:documentation>
      <ref name="ds.href.attr"/>
      <optional>
        <attribute name="target">
          <a:documentation>Whether to open the link in a new tab/window (`_blank`)</a:documentation>
          <value>_blank</value>
        </attribute>
      </optional>
      <optional>
        <attribute name="rel">
          <a:documentation>Attributes of the link</a:documentation>
          <choice>
            <value>nofollow</value>
            <a:documentation>Ask search engine spiders not to follow the link</a:documentation>
            <value>prev</value>
            <a:documentation>Link target is the previous in a series of documents</a:documentation>
            <value>next</value>
            <a:documentation>Link target is the next in a series of documents</a:documentation>
            <value>license</value>
            <a:documentation>Link target represents a license of the current page</a:documentation>
            <value>alternate</value>
            <a:documentation>Link target represents an alternate variant of the current page (such as a different language or format)</a:documentation>
          </choice>
        </attribute>
      </optional>
      <!---->
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.strong">
    <element name="strong">
      <a:documentation>Strongly emphasized text, displayed in boldface (HTML, inline)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.code">
    <element name="code">
      <a:documentation>Code/command (HTML, inline)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.cite">
    <element name="cite">
      <a:documentation>Citation (HTML, inline)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.span">
    <element name="span">
      <a:documentation>Generic inline element (HTML, inline)</a:documentation>
      <ref name="ds.htmlinlinecontent"/>
    </element>
  </define>
  <define name="ds.br">
    <element name="br">
      <a:documentation>Manual line break (HTML, inline)</a:documentation>
      <ref name="ds.htmlattr"/>
      <empty/>
    </element>
  </define>
  <define name="ds.hr">
    <element name="hr">
      <a:documentation>Horizontal rule (HTML, inline)</a:documentation>
      <ref name="ds.htmlattr"/>
      <empty/>
    </element>
  </define>
</grammar>
