src/docbuild/config/xml/data/xinclude.rnc

namespace xi = "http://www.w3.org/2001/XInclude"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace db = "http://docbook.org/ns/docbook"
namespace local = ""

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

# start = xi.include

[
   db:refname [ "xi:include" ]
   db:refpurpose [ "An XInclude" ]
]   
div {
   xi.any.other.attribute = attribute * - local:* { text }
   xi.include.attlist =
      attribute href { xsd:anyURI { pattern = "[^#]+" } }?,
      [ a:defaultValue="xml" ] attribute parse { "xml" | "text" }?,
      # attribute xpointer { text }?,
      # attribute fragid { text }?,
      attribute set-xml-id { text }?,
      attribute encoding { text }?,
      attribute accept { text }?,
      attribute accept-language { text }?,
      xi.any.other.attribute*

   xi.include =
      element xi:include {
         xi.include.attlist,
         empty
         # xi.fallback?
      }
}

